#root {
  padding: 3rem;
  min-height: 100vh;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  background: #f6f6ef;
  min-height: 100vh;
}

.input:focus {
  border-color: #ff6600;
  box-shadow: none;
}

.search-story {
  width: 30%;
  background: #ff6600;
}

hr {
  background: #dbdbdb;
}

.card {
  border-radius: 10px;
}

a {
  color: #ff6600;
}

a:hover {
  color: #ff6600;
}

.story-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {
  #root {
    padding: 2rem;
  }

  .story-grid {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .story-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
